.event-show-container{
   font-size: 35px;
   padding: 60px;      
}

.event-image{
   display: block;
   height: 360px;
   width: 50%;
}

.background-img{
   height: 66vh;
    max-height: inherit;
    min-height: 500px;
    overflow: hidden;
    filter: blur(12px);
}