
.event-ind-link{
    text-decoration: none;
}


.all-events-container{
    display:block;
    padding-top: 18%;
}


.event-images{
    padding-top: 4%;
}

.event-images ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event-images ul div{
    padding-right: 2vw;
    padding-left: 2vw;
    padding-bottom: 2.5vw;

}


.splash-body{
    width: 80vw;
    height: 21vw;
    margin-left: 10vw;
    position: relative;
    background: image_url("splash.jpg");
    background-position: center;
    background-size: cover;
}

.splash-text{
    -webkit-box-align: baseline;
    align-items: baseline;
    display: flex;
    font-size: 43px;
    font-weight: 800;
    padding-top: 40px;
    color: #f05637;
}
.splash-text2{
    -webkit-box-align: baseline;
    align-items: baseline;
    font-size: 2.8em;
    z-index: 2;
    color: #1e0a3c;
    font-weight: 800;
    white-space: pre;
    padding-left:11px
    // display: flex;
    // flex-wrap: wrap;
    
}




.event-index-item{
// -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: block flex;
}


.event-image:hover{
    box-shadow: 0 0 15px black
}




.event-images img{
    height: 10vw;
    width: 16vw;
    flex-wrap: wrap;
    margin: 0;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 0 10px lightgray;
}


.all-event-info{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    box-sizing: border-box;
    padding-top: .75vw;
    border-radius: 0 0 0.1vw 0.1vw;
    background-color: #ffffff;
    box-shadow: 0 0 10px lightgray;
    width: 16vw;
    height: 8vw;
    margin: 0px;  
    font-size: 2em;
    line-height: 22px;
    font-weight: 400;
}

.event-date-time{
    display:flex;
    flex-direction:column;
    color: #d1410c;
    font-weight: 600;
    padding-bottom: .2em;
    align-items: flex-start;
    font-size: .7vw;
}

.event-info{
    display:flex;
    font-weight: 700;
    color: #39364f;
    font-size: 1.2vw;
    line-height: 1.5vw;
    letter-spacing: .20px;
    align-items: flex-start;
    flex-direction: row;
    padding-bottom: 0;
    
}
