
.event-ind-link{
    text-decoration: none;
}


.all-events-container{
    display:block;
    padding-top: 23%;
}



.event-images ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event-images ul div{
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;

}

// .event-images img:hover, .all-event-info:hover {
//     box-shadow: 0 0 1px lightgray;
    
// }

.splash-body{
    width: 80vw;
    height: 21vw;
    margin-left: 10vw;
    
    
    position: relative;
    
    background: image_url("splash.jpg");
    background-position: center;
    background-size: cover;
    
}

.splash-text{
    -webkit-box-align: baseline;
    align-items: baseline;
    display: flex;
    font-size: 43px;
    font-weight: 800;
    padding-top: 40px;
    color: #f05637;
}
.splash-text2{
    -webkit-box-align: baseline;
    align-items: baseline;
    font-size: 42px;
    z-index: 2;
    color: #1e0a3c;
    font-weight: 800;
    white-space: pre;
    padding-left:10px
    // display: flex;
    // flex-wrap: wrap;
    
}




.event-index-item{
-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}


.event-image:hover{
    box-shadow: 0 0 15px black
}


.event-images img{
    height: 10vw;
    width: 16vw;
    flex-wrap: wrap;
    margin: 0;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 0 10px lightgray;
}


.all-event-info{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 0 0 2px 2px;
    background-color: #ffffff;
    box-shadow: 0 0 10px lightgray;
    width: 16vw;
    height: 8vw;
    margin: 0px;  
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.event-date-time{
    display:flex;
    flex-direction:column;
    color: #d1410c;
    font-weight: 600;
    -webkit-box-align: baseline;
}

.event-info{
    -webkit-line-clamp: 3;
    font-weight: 700;
    color: #39364f;
    font-size: 1.22rem;
    line-height: 1.75rem;
    letter-spacing: .20px;
}