.body{
   background-color: whitesmoke;
}
.event-show-container{
   font-size: 35px;
   // padding: 80px;  
   display: flex;   
   justify-content: center; 
   width: 60%;
   margin-left: auto;
   margin-right: auto;
   margin-top:4%; 
   

}

.event-image-show{
   display: block;
   height: 360px;
   width: 60%;
   border-radius: 5px 0 0 0;
}


.background-img-container{
   position: absolute;
   top: 70px;
   width: 100%;
   z-index: -1;
   max-height: inherit;
   // height: 730px;
   height: 67%;
   overflow: hidden;
}

.background-img{
   overflow: hidden;
   filter: blur(30px);
   z-index: -1;
   width: 100%;
   min-height: 700px;
   height: 100%;
   position: absolute;
}


.show-container{
   display:flex;
   justify-content: flex-start;
   margin: 0px;
   //  padding-top: 30px;
    padding-top: 50px;
    display: block;
}

.event-image-show{
   display:flex;
   justify-content: flex-start;
}

.event-show-deets{
   // display: flex;
   //      flex-direction: column;
   background-color: white;
   width: 40%;
   border-radius: 0 5px 0 0;
   padding: 30px;
}

.event-date{
   display: block;
   display:flex;
   flex-direction: column;
   // text-align: center;
}

.month {
      font-size: 20px;
      color: #666a73;
      font-weight: 600;
      }

.day {
   font-size: 30px;
   color: #666a73;
   line-height: 1.25em;
}

.event-title{
   color: #282C35;
   font-weight: 600;
   font-size: 30px;
   padding-top: 30px;
}


.organizer{
   color: gray;
   font-weight: 400;
   font-size: 18px;
   padding-top: 15px;
   text-transform: uppercase;
}

.price-age{
   width: 60%;
   display: flex;   
   // justify-content: center; 

   background-color: white;
   margin-left: auto;
    margin-right: auto;
    height: 9vh;
    border-top: solid;
    border-bottom: solid;
    border-color: lightgrey;
    border-width: thin;
    border-radius: 0 0 5px 5px;
   //  align-items:baseline;
}


.tickets{
   background-color: green;
   border-radius: 5px;
   width: 100%;
   max-width: 320px;
   float: none;
   margin-right: 25px;
   margin-left: 25px;
   margin-top: 10px;
   margin-bottom: 10px;
   color: white;
   font-size: 20px;
   letter-spacing: 1px;
}

.tickets:hover{
   background-color: #469d57;
}

.date{
   width:100%;
}


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner{
  position: absolute;
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
  margin: auto;
  border-radius: 20px;
  background: whitesmoke;
}


.popup_inner{
   display:flex;
   flex-direction:column;
   
}
.popup_inner h1{
   display:flex;
   justify-content: center;
   margin-top: 30%;
}

.popup_inner button{
   display:flex;
   justify-content: center;
   width: 20%;
   margin-left: 40%;
}


.price-age div, .price-age p{
   border-top: 20%;
}

.date, .price, .age{
   font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
   margin: 3%;
   font-size: 1.2rem;
   line-height: 1.5rem;
   color: gray;
}