

.no-tickets-message{
    display: flex;
    flex-direction: column;
    font: -webkit-small-control;
    font-size: 17px;
    font-weight: 500;
    padding-top: 12%;
    color: gray;
    align-items: center;
}                    