
.homepage{
    font: -webkit-small-control;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;  
    padding-bottom: 10px;
    
}

.create-event{
    color:#3659e3
}

.sign-in-link{
    text-decoration: none

}
.stagelite-div{
    display:flex;
}

.nav-buttons > *{
    display:flex;
    margin: 10px;
    
}
.nav-buttons > *:hover {
    color: black;
}

.stagelite-logo{
    font-family: 'Warnes', cursive;
    font-size: 20px;
    font-weight: 600;
    color: #f05637;
    display: flex;
    padding-top: 5px;
}



.homepage > * {
    text-decoration: none;  
    margin-left: 20px;
    margin-right: 17px;
    margin-top: 16px;
    color: #39364f;
    display: flex;
    cursor: pointer;
    color: gray
    
}

.sign-out-button{
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    font: -webkit-small-control;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    font-weight: 470;  
    cursor: pointer;
    margin-top: 4%;
    margin-left: 5px;
    padding-left: 2px;
    color: gray
}

.sign-out-button:focus {
    outline: none;
    box-shadow: none;
}


hr {
    width: 100%;
    text-align:left;
    margin-left:0;
    color: #eeedf2;
    border-style: solid;
    border-top: none;
    border-width: 1px;
}

.page-does-not-exist{
    display: flex;
    justify-content: center;
    font: -webkit-small-control;
    font-size: 17px;
    font-weight: 500;  
    padding-top: 12%;
    color: gray;
}