

.form-header {
    color: black;
    
    letter-spacing: .75px;
    font-size: 20px;
    line-height: 2.25rem;
    letter-spacing: .75px;
    margin-right: -.75px;
    font-weight: 700;
    
}

.email-input, .password-input {
    margin: 8px 0 10px;
    text-align: left;
    color: #363a43;
    display: flex;
    height: 25px;
   
}

.error-messages {
    display: flex;
    flex-direction: column;
    margin: 28px;
    text-align: center;
    color: #f05637;
    font-size: 10px;
}




.login-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 440px;
    padding-top: 100px;
    
    // border: orange;
    // border-style: solid;
    // border-width: 40px;
}

.session-submit{
    background-color: #d1410c;
    border-color: #d1410c;
    height: 30px;
    display: block;
    border-radius: 5px;
    color: whitesmoke;
}

.session-submit:hover {
    background-color: #f05637;
    border-color: #f05637;
    transition: 0.3s;
    cursor: pointer;
}

.s-logo {
    font-family: 'Warnes', cursive;
    font-size: 40px;
    color: #f05637;
    padding-bottom: 17px;
    font-weight: 500;
}

.demo-button{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    margin-top: 0%;
}