
.session-form-container {
    height: 460px;
    margin-bottom: 0%;
}

.s-logo {
    font-family: 'Warnes', cursive;
    font-size: 35px;
    color: #f05637;
    padding-bottom: 17px;
    font-weight: 500;
}

.form-header {
    color: #363a43;
    letter-spacing: .75px;
    font-size: 25px;
    line-height: 2.25rem;
    letter-spacing: .75px;
    margin-right: -.75px;
    margin-bottom: 2%;
    font-weight: 700;
}

.to-login, .to-signup {
    text-decoration: none;
    color: grey;
}

.to-login:hover, .to-signup:hover {
    color: lightgray;
}



.email-input, .password-input {
    margin: 8px 0 10px;
    text-align: left;
    color:#363a43;
    display: flex;
    height: 43px;
    padding: 4px;
    padding-left: 12px;
    font-size: 14px;
}




.error-messages {
    display: flex;
    flex-direction: column;
   
    margin: 15px;
    text-align: center;
    color: #f05637;
    font-size: 13px;
}




.login-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 630px;
    padding-top: 90px;

    
    // border: orange;
    // border-style: solid;
    // border-width: 40px;
}

.session-submit{
    background-color: #d1410c;
    border-color: #d1410c;
    height: 40px;
    display: block;
    border-radius: 5px;
    color: whitesmoke;
    padding-bottom: 0%;
    font-size: 15px;
}

.session-submit:hover {
    background-color: #f05637;
    border-color: #f05637;
    transition: 0.3s;
    cursor: pointer;
}


.demo-button{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    
    // padding-top: 0%;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    color: #363a43;
    font-size: 12px;

}

.demo-button:hover{
    color:gray;
}

.demo-button:focus {
  outline: none;
  box-shadow: none;
}

.email-input:focus, .password-input:focus {
    outline: none !important;
    border: 1.5px solid #4667e5;
    transition: 0.2s;
    // box-shadow: 0 0 4px #719ECE;
    // box-shadow: 0 0 10px #719ECE;
}